h1 {
    font-family: 'Pacifico', cursive;
}
h2,h3,h4 {
    font-family: 'Comfortaa', cursive;
}
ul {
    list-style: none;
    padding: 0;
}
.not-favourite {
    color: gray;
}
.not-favourite:hover {
    color: gray;
}
.favourite {
    color: #ff4736;
}
.favourite:hover {
    color: #ff4736;
}
.recipe-type {
    display: flex;
    margin: 1em 0;
    align-items: center;
}
.recipe-type a {
    border: #ff4736 solid 1px;
    border-radius: 90px;
    padding: 0.2em 2em 0.2em 0;
    color: black;
    margin: 0 1em 0 0;
    text-align: center;
}
.recipe-type a:hover {
    text-decoration: none;
    color: white;
    background-color: #ff4736;
}
.filter-active {
    background-color: #ff4736;
    color: white;
}
